python-can # CAN bus module
# NOTE: Might need python-can[serial] @ https://python-can.readthedocs.io/en/stable/installation.html

python-dotenv # For reading the .env config

shapely # For checking if a polygon contains a point @ GPS
pyproj  # Python interface to PROJ (cartographic projections and coordinate transformations library)

loguru # Logger
coverage # unittest run w/ coverage dependancy

ipykernel # for Jupyter Notebooks

pyubx2 # For reading GPS from UBX compatible devices
pyserial # Accessing serial ports